<div class="container">
    <h1>
        Signup
    </h1>
    <form action="/" class="form-signup form" (ngSubmit)="signup()">
        <div class="form-signup__fieldset form-fieldset">
            <label for="username" class="form-signup__label form-label">Username:</label>
            <input type="text" name="username" id="username" #username="ngModel" [(ngModel)]="user.username" required class="form-signup__input-text form-input-text">
            <p [hidden]="username.valid || username.pristine" class="form-error">Username field is invalid</p>
        </div>
        <div class="form-signup__fieldset form-fieldset">
            <label for="name" class="form-signup__label form-label">Name:</label>
        <input type="text" name="name" id="name" #name="ngModel" [(ngModel)]="user.name" class="form-signup__input-text form-input-text">
        </div>
        <div class="form-signup__fieldset form-fieldset">
            <label for="password" class="form-signup__label form-label">Password:</label>
            <input type="password" name="password" id="password" #password="ngModel" [(ngModel)]="user.password" required class="form-signup__input-text form-input-text">
            <p [hidden]="password.valid || password.pristine" class="form-error">Password field is invalid</p>
        </div>
        <button class="form-button"><span class="button mod_v1">Signup</span></button>
        <p [hidden]="!signupError" class="form-error">{{signupError}}</p>
    </form>    
</div>